body{
    font-family: "Open Sans"
    ,Arial,Helvetica,sans-serif;
}

header{
   display: flex;
}
.grande{
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    margin-left: 2rem;
 
}
.imgini{
    margin left: 1rem;
    width: 9%;
    margin-left: 2rem;
}




.navbar{
    margin-top: 10px;
    margin-left: 20px;
    width: 86%;
    height: 50%;
    display: flex;
    flex-basis: 99%;
    justify-content: space-between;
    
    
    
}

.navdown{
    display: flex;
    flex-basis: 100%;
    margin-left: 20px;
    justify-content: space-between;
    
  }

  .navdownizquierda{
    display: flex;
    text-decoration: none;
    gap: 3rem;
  }

  .navdownderecha{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

.navizquierda{
    display: flex;
    

    
}

.navderecha{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.enlacesbajo{
    background-color: #3E6E93;
    padding: 20px 10px 20px 50px;
}

.banner{
    display: flex;
    justify-content: center;
}


.azul{
    paSdding: 3rem;
    margin-top: 4rem;
    background-color: #2b5d80;
    color: #eaeaea;
    display: flex;
}

a{
   text-decoration: none;
   
}

.col1{
    width: 50%;
}
.col2{
    width: 50%;
}


.laptopicon{
    margin-right: 10px;
}
.papericon{
    margin-right: 10px;
}

ul{
    
   
}

li{
    display: list-item;
    text-align: -webkit-match-parent;
    padding-top: 1rem;
}






.logos{
    padding-top: 30px;
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;
}

.iconologo{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}



