header{
   display: flex;
}


.navbar{
    display: flex;
    padding: 1rem;
    margin-left: 3rem;
    margin-top: 1rem;
    flex-basis:100%;
    justify-content: space-between;
    
}

.navizquierda{

    
}

.navbarderecha{
    display: flex;
    justify-content: space-between;
}

.navdown{
    display: flex;
}



/*
.logocontainer{
    
}

.logos{
       
}

.iconologo{
    
}

*/