body{
    font-family: "Open Sans"
    ,Arial,Helvetica,sans-serif;
}
header{
   display: flex;
}
.grande{
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    margin-left: 2rem;
}
.imgini{
    margin left: 1rem;
    width: 9%;
    margin-left: 2rem;
}
.navbar{
    margin-top: 10px;
    margin-left: 20px;
    width: 86%;
    height: 50%;
    display: flex;
    flex-basis: 95%;
    justify-content: space-between;
    border-bottom: solid #EBECEE;
}
.navdown{
    display: flex;
    flex-basis: 95%;
    margin-left: 20px;
    justify-content: space-between;
  }
.navdownizquierda{
    display: flex;
    text-decoration: none;
    gap: 3rem;
  }
.navdownizquierda a{
    color: black;
  }
.navdownderecha{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
.navizquierda{
    display: flex;
}
.navderecha{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.navderecha a{
    color: #0074A3;
}
.partebajo{
    display: flex;
    background-color: #3E6E93;
    padding: 20px 10px 20px 50px;
}
.enlacesbajo{
    display: flex;
   margin-left: 3rem;
   gap: 2rem;
}
.enlacesbajo a{
    color: white;
}
.enlacesbajo a:hover{
    color: orange;
}
.banner{
    display: flex;
    justify-content: center;
}
.cuadromedio{
    margin-top: 10px;
    background-color: #ebf2f7;
    text-align: center;
    padding: 10px 100px;
}
.cuadromedio a{
    color: #0074A3;
}
.azul{
    display: flex;
    padding: 20px 30px;
    margin-top: 4rem;
    background-color: #2b5d80;
    color: #eaeaea;
    flex-wrap: wrap;
}
.azul a{
    color: white;
}
.azul h2{
    color: #f7c891;
}
.fechas{
    color: #83929D;
}
a{
   text-decoration: none;
}
.col1{
    width: 50%;
}
.col2{
    width: 50%;
}
.laptopicon{
    margin-right: 10px;
}
.papericon{
    margin-right: 10px;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
    padding-top: 1rem;
}
.marcas{
    display: flex;
    padding: 40px 60px;
    flex-wrap: wrap;
}
.marca1122{
    display: flex;    
}
.iconmarcas{
    margin:  35px;
    height: 75px;
}
.textomarcas{
    width: 70%;
}
.marcas1212{
    display: flex;
}
.textomarcas a{
    color: #e97b00;
}
.logos{
    padding-top: 30px;
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;
}
.imgtel{
    padding-top: 5px;
    padding-right: 20px;
}
.iconologo{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.fondofooter{
    display: flex;
    justify-content: space-between;
    background-color: #e1e1e1;
    padding: 25px 40px 20px 60px;
    color: #666;
}
.fondofooter a{
    color: #666;
}
.fondoizquierda{
    display: flex;
    
}
.fondoderecha{
    display: flex;
    gap: 1rem;
    padding-top: 6px;
}
.footerenlaces{
    background-color: #f7f7f7;
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8rem;
}
.footerenlaces a{
    color: #717171;
}
.cabefooter{
    padding-bottom: 5px;
    color: #555;
    list-style: none;
}
.imgmundo{
    margin-left: 5.5rem;
}
.lifooter{
    list-style: none;
}
.enlacesbajofooter{
    padding-top: 2rem;
    background-color: #f7f7f7;
}
.enlacesbajofooter a{
    color: #666;
}
.footerfinal{
    margin: 45px 15px 10px 60px;
}
.footerfinal a{
    color: #666;
}
.textfooterfinal{
    padding-left: 8px;
}
